.example-card {
  max-width: 300px;
  background-color: lightgrey;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;

}
